.terminal {
  background-color: #1d1f21;
  font-family: Monospace;
  color: #adadad;
  text-align: left;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 18px;
  overflow-x: scroll;
}

.terminal a,
.terminal a:link,
.terminal a:visited,
.terminal a:hover,
.terminal a:active {
  color: greenyellow;
}

.terminal p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.terminal .github-icon {
  position: fixed;
  top: 20px;
  right: 20px;
}

.terminal .prompt {
  margin: 1rem 0 0 0;
  font-weight: 700;
}

.terminal .terminal-bar {
  border: 0;
  background-color: transparent;
  color: #fff;
  outline: none;
  margin-left: 0.7em;
  font-size: 0.9em;
  font-family: Monospace;
  vertical-align: top;
}

.terminal .ls > span {
  margin-right: 15px;
}
